.img-diw{

    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 27px;
    margin-left: 43px;
 
}




.about1{
    margin-top: 600px;
    background-color: #bbb7a9;
}




.about .title{
    position: relative;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 60px;
    padding-bottom: 30px;

}
.about .title::before{

    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}

.about .title::after{

    content: "who i am";
    position: absolute;
    bottom: -10px;
    left: 50%;
    color: crimson;
    font-size: 20px;
   background: white;
   
    
    transform: translateX(-50%);
}

.about .about-content  .column-left img{
    /* width: 400px;
      height: 400px; */
      /* object-fit: cover; */
      /* border-radius: 6px; */
    
      /* padding-left: 10px 20px; */

      width: 200px;
      height: 200px;
      border-radius: 50%;
      /* margin-top: 10px; */
      
}
.about .about-content{
    display: flex;
    text-align: center;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}
.about .about-content .column-left{
    width: 45%;
}
.about .about-content .column-right{
    width: 55%;
}
.about .about-content .column-right .text{
    font-size: 30px;
    font-weight: 600;
    /* margin-bottom: 10px; */
}
.about .about-content .column-right .text span{
    color: blue;
}



#para{
    font-size: 20px;
    padding-right: 50px;
    color: black;
    text-align: justify;
}

.about .about-content .column{
    width: 50%;
}



